@import '../../styles/colors.scss';

.stepper-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  padding: 10px;

  .stepper-item {
    position: relative;
    cursor: pointer;
    transition: 0.3s all ease;
    .stepper-item-outer {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s all ease;
    }
    .stepper-title {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      position: absolute;
      display: inline-block;
      width: max-content;
      max-width: 200px;
      min-width: 200px;
      transform: translate(-45%, 10px);
      text-align: center;
      color: #bfc2c3;
      font-size: 12px;
      transition: 0.3s all ease;
    }
    .stepper-title-active {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #000000;
      transition: 0.3s all ease;
    }
  }
}
.stepper-item-outer:nth-of-type(odd) {
  border: 2px solid #c8cacb;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: 0.3s all ease;

  .stepper-item-inner {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    color: white;
    font-size: small;
  }
  .stepper-item-inner.stepper-item-inner-active {
    width: 18px;
    height: 18px;
  }
}

.stepper-item-outer:nth-of-type(even) {
  height: 0px;
  border: 0.5px solid #c8cacb;
  width: 15%;
}

.stepper-item-inner-future {
  background-color: #dedfe0;
}
.stepper-item-inner-completed {
  background-color: lighten($primary-color, 20);
}
.stepper-item-inner-active {
  background-color: $primary-color;
}
