.postsContainer {
  padding: 0;
  height: 100vh;
}

.postsList {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  list-style: none;
  padding: 0;
  height: 80%;
  overflow-y: auto;
  margin-left: 15px;
}