// Variables
$text-primary: #3A46AC;
$primary-color: #e9404c;
$text-color: rgb(62, 75, 80);
$text-color-2: #425A70;
$grey-light: #6b778c;
$bg-color-primary: #f4F8FC;
$bg-color-primary-dark: rgb(218, 224, 230);