@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600i,700,700i,800&display=swap');
@import url('../pages/PostEdit/styles.module.scss');

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  height: 100%;

  @media only screen and (max-height: 600px) {
    font-size: 12px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins', 'Roboto', 'Segoe UI', sans-serif;
  color: rgb(62, 75, 80);
}
h1 {
  color: #333333;
}


* {
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

// This makes so list numbers are aligned
ol,
ul {
  list-style-position: inside;
}
