#editorjs {
  text-align: start;
}

.mainWrapper {
  width: 70%;
  margin: auto;
}

.borderlessInput {
  box-shadow: none !important;
  text-align: left !important;
  width: 100% !important;
  font-size: 16px !important;
  margin-bottom: 20px !important;

  &:focus, &:active {
    box-shadow: none !important;
  }
  &:hover {
    background-color: #f8f8f8 !important;
  }
}

.title {
  font-size: 24px !important;
  font-weight: bold !important;
}