@import "../../styles/base.scss";

.root {
  @include sidebarLessView;

  display: flex;
  flex-flow: column;
  text-align: left;
  padding: 0 40px;
}

.accountSettings {
  display: flex;
  flex-flow: row;
}

.labelsCol {
  span {
    display: flex;
    align-items: center;
    color: #666666;
    font-size: 12px;
    height: 30px;
    margin-bottom: 10px;
    margin-right: 20px;
  }
  display: flex;
  flex-flow: column;
}

.fieldsCols {
  display: flex;
  flex-flow: column;

  input {
    height: 30px;
    margin-bottom: 10px;
  }
}

.created {
  color: #666666;
  font-size: 12px;
}

.actionsContainer {
  display: flex;
}

.actions {
  margin-top: 40px;
  width: 200px;
}

.warning {
  text-align: left;
  margin-top: 0;
}
